.custom-border-table-relatorio.ant-table-wrapper .ant-table {
  border: 1px solid #f0f0f0 !important;
  box-shadow: none;
}

.custom-border-table-relatorio.ant-table-wrapper .ant-table-thead > tr > th {
  background-color: #fafafa !important;
  box-shadow: none !important;
}

.custom-border-table-relatorio.ant-table-wrapper .ant-table-tbody > tr > td {
  border-right: 1px solid #f0f0f0 !important;
}

.custom-border-table-relatorio.ant-table-wrapper .ant-table-container {
  border-right: 1px solid #f0f0f0;
  box-shadow: none;
}

.lista-dinamica-relatorio {
  margin-top: 16px;
  overflow-x: auto;
}

.nenhum-dado-relatorio {
  padding: 20px;
  text-align: center;
}

.marginRight05em {
  margin-right: 0.5em;
}

.width100 {
  width: 100%;
}

.font-weight-500 {
  font-weight: 500;
}

.font-size-16 {
  font-size: 16px;
}

.estudantes-config-relatorio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icones-estudante-relatorio {
  margin-top: 4px;
}

.lp-config-relatorio {
  font-size: 11px;
  white-space: normal;
}

.lista-dinamica-relatorio .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #6933ff !important;
  border-color: #6933ff !important;
}

.lista-dinamica-relatorio .ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: #ffffff !important;
}

.lista-dinamica-relatorio .ant-checkbox-disabled .ant-checkbox-inner {
  border-color: #6933ff !important;
  opacity: 1 !important;
}

.lista-dinamica-relatorio
  .ant-checkbox-disabled.ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: #6933ff !important;
  opacity: 1 !important;
}
