.celula-colorida {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 37px;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  user-select: none;
  white-space: nowrap;
}
