.labelSelectSondagem :global(.ant-form-item-label > label) {
  font-weight: 700;
  font-size: 14px;
  font-family: Roboto;
}

.CardSondagemEfeitos {
  box-shadow: 0px 0px 6px 0px #0000001f;
  border-radius: 4px;
  background-color: #ffffff;
}
